* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

main {
  position: relative;
}

main.hidden {
  left: -320px;
}

div#map {
  z-index: 0;
  height: 100vh;
}

div.sidebar {
  -webkit-box-shadow: 4px 4px 10px 0px rgba(50, 50, 50, 0.8);
  -moz-box-shadow:    4px 4px 10px 0px rgba(50, 50, 50, 0.8);
  box-shadow:         4px 4px 10px 0px rgba(50, 50, 50, 0.8);
  z-index: 1;
  position: absolute;
  background: green;
  opacity: 0.8;
  width: 385px;
  height: 100vh;
}

div.container {
  z-index: 2;
  text-align: left;
  padding: 10px;
  position: absolute;
  opacity: 1;
  color: #fff;
  width: 385px;
  height: 100vh;
  overflow: scroll;
}

nav {
  height: 40px;
  position: fixed;
  width: 365px;
  z-index: -1;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

img.menu {
  position: absolute;
  right: 0;
  top: 0;
}

.menu-hidden {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

div.content {
  width: 300px;
  margin-top: 10px;
  overflow: scroll;
}

h1, h2 {
  margin: 0;
}

h1 {
  font-size: 30px;
  letter-spacing: -1px;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 5px;
}

h2 {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 15px;
}

h3 {
  font-size: 18px;
  letter-spacing: -1px;
  text-transform: uppercase;
  font-weight: 900;
  margin: 0;
}

h4 {
  font-size: 14px;
  font-weight: 300;
  margin: 0;
}

p {
  margin-top: 15px;
  font-size: 15px;
  font-weight: 300;
}

a:link, a:visited, a:hover, a:active {
  color: white;
  text-decoration: none;
}

/*google logo position*/

#map .gm-style-cc {
  display: none;
}

.gm-style [style*="z-index: 1000000;"] {
  left: auto!important;
  right: 0!important;
}

.club-form {
  display: none;
}

#logo {
  position: absolute;
  z-index: 0.5;
  top: 0;
  right: 20px;
  width: 300px;
  margin: 20px auto;
}

.tile hr {
  margin: 15px 0 25px 0;
}

div.club-image {
  height: 300px;
  width: 300px;
  background-position: center;
  background-size: cover;
}

div.toolbar-icon {
  border: 2px solid white;
  padding: 5px 10px;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 15px;
}

div.add-club {
  margin-bottom: 20px;
}

div.booking_no {
  text-decoration: line-through;
}

/*form*/

form {
  margin-bottom: 20px;
}

button[type=submit] {
  border: 2px solid white;
  padding: 5px 10px;
  background-color: #2E4172;
  color: white;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -1px;
  margin-top: 10px;
  font-size: 16px;
  width: 100%;
}

input[type=text] {
  border: 2px solid white;
  padding: 5px 10px;
  background-color: white;
  margin: 5px 0 10px 0;
  font-size: 16px;
  width: 100%;
}

select {
  border: 2px solid white;
  padding: 5px 10px;
  background-color: white;
  font-size: 16px;
  margin: 5px 0 10px 0;
}

label {
  font-size: 16px;
}

#super-secret-login {
  width: 18px;
  height: 18px;
  position: absolute;
  right: 257px;
  top: 71px;
}

#super-secret-signup {
  width: 18px;
  height: 18px;
  position: absolute;
  right: 287px;
  top: 23px;
}

/*googlemaps*/

.infowindow {
  text-align: center;
  margin-left: 20px;
}

/*Gets rid of 'x' in map infowindow*/
img[src="https://maps.gstatic.com/mapfiles/api-3/images/mapcnt6.png"] {
    display: none;
}

.login a,
.signup a {
  color: black;
  margin: 10px;
}

.login input[type=text],
.login input[type=password],
.signup input[type=text],
.signup input[type=password] {
  border: 2px solid #2E4172;
  padding: 5px 10px;
  background-color: white;
  margin: 5px 0 10px 0;
  font-size: 16px;
  width: 100%;
}

input[type=submit] {
  border: 2px solid #2E4172;
  padding: 5px 10px;
  background-color: #2E4172;
  color: white;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -1px;
  margin-top: 10px;
  font-size: 16px;
  width: 100%;
}

input[type=submit]:focus,
input[type=text]:focus,
input[type=password]:focus {
  outline:0;
}

@media only screen and (max-width: 640px) {

  div.container,
  div.sidebar {
    width: 300px;
  }

  div.content {
    width: 235px;
  }

  nav {
    width: 280px;
  }

  main.hidden {
    left: -245px;
  }

  div.club-image {
    height: 235px;
    width: 235px;
  }

  #logo {
    width: 230px;
  }

  #super-secret-login {
      right: 200px;
      top: 57px;
  }

  #super-secret-signup {
      position: absolute;
      right: 223px;
      top: 19px;
  }

}